
.menu {
  $connecting: #{&}--connecting;
  $opened: #{&}--open;
  $closing: #{&}--closing;
  $closed: #{&}--closed;
  $error: #{&}--error;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $msg-color;
  margin-bottom: 20px;
  padding: 0 5px 10px;
  box-shadow: 0 2px 2px -2px $chat-shadow;

  &__nickname {
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;

    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border-radius: 100%;
      background-color: $state-connecting;

      #{$connecting} & {
        background-color: $state-opened;
      }

      #{$opened} & {
        background-color: $state-opened;
      }

      #{$closing} & {
        background-color: $state-opened;
      }

      #{$closed} & {
        background-color: $state-closed;
      }

      #{$error} & {
        background-color: $state-error;
      }
    }

    &-state {
      margin-left: 20px;
      opacity: 0;
      transition: opacity 300ms ease-in-out;

      #{$connecting} & {
        color: $state-connecting;
      }

      #{$opened} & {
        color: $state-opened;
      }

      #{$closing} & {
        color: $state-closing;
      }

      #{$closed} & {
        color: $state-closed;
      }

      #{$error} & {
        color: $state-error;
      }
    }

    &:hover &-state {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }
  }
}

.msg {
  $this: &;
  $answer: #{&}--answer;

  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;

  &:first-child {
    margin-bottom: 0;
  }

  &-wrapper {
    flex-grow: 1;
    margin-bottom: 20px;
    padding-right: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: $scroll-bg;
    }

    &::-webkit-scrollbar
    {
      width: 10px;
      background-color: $scroll-bg;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 3px;
      background-color: $scroll-active;
    }
  }

  &__time {
    color: $msg-time;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    font-size: 14px;

    #{$this}:hover & {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }
  }

  &__label {
    margin-right: 20px;
    font-weight: 400;
    color: $msg-label;

    #{$answer} & {
      color: $msg-answer-label;
    }
  }

  &__text {
    color: $msg-color;
    margin: 0;
    width: 100%;

    #{$answer} & {
      color: $msg-answer-color;
    }
  }
}

.send-msg {
  display: flex;
  padding: 10px 5px 0;
  box-shadow: 0 -2px 2px -2px $chat-shadow;
}
