@mixin transparent-selection {
  &::selection {
    background: transparent;
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: $body-bg;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100%;
  display: flex;
}

.wrapper {
  position: absolute;
  top: 15%;
  right: 15%;
  bottom: 15%;
  left: 15%;
  min-width: 300px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 10px;
  background-color: $chat-bg;
  border: 2px solid $chat-border;
  border-radius: 3px;
}

input {
  display: block;
  margin-right: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: $send-text-color;
  caret-color: $caret;
  outline: none;

  &::placeholder {
    color: $chat-shadow;
  }

}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $send-color;
  padding: 10px 15px;
  border-radius: 3px;
  transition: background 300ms ease-in-out;
  border: 1px solid $send-border;
  outline: none;

  &:hover,
  &:focus {
    background-color: $send-hover-bg;
    transition: background 300ms ease-in-out;
  }

  &:active {
    background-color: $send-active;
    transition: background 300ms ease-in-out;
  }
}

.nickname {
  display: flex;
  margin: auto;
}
